/build/
/TestFiles/
/Test/
/LangaugeDefinition/
psuedoc
test.hz

*.o
LazyEvalInt.c
*.out
*.hs
*.hi
test
hazelc
*.s
*.ll
Theory/test.c
Theory/test2.c
/Docs/HazelDocs.aux
/Docs/HazelDocs.log
/Docs/HazelDocs.pdf